body, a
  cursor: none

.cursor-dot,
.cursor-dot-outline {
  z-index: 999
  pointer-events: none
  position: absolute
  top: 50%
  left: 50%
  border-radius: 50%
  opacity: 0
  transform: translate(-50%, -50%)
  transition: opacity 0.3s ease-in-out,
          transform 0.3s ease-in-out
}

.cursor-dot {
  size: 8px
  width: size
  height: size
  background-color: green
}

.cursor-dot-outline {
  size: 40px
  width: size
  height: size
  background-color: rgba(green, 0.5)
}