#footer
  background: color-footer-background
  padding: 14em 0 5em
  padding-top: clamp(4rem, 10vw, 8rem)
  margin-top: 1.5rem
  color: color-grey

  a
    color: color-foreground
    font-style: italic
    font-size: 18px
    font-weight: 300
    text-decoration: underline
    text-underline-offset: 0.25ch
    text-decoration-thickness: 1px
    &:hover
      text-decoration-style: dashed;

#footer-info
  max-width: 1000px
  line-height: line-height
  font-size: 0.85em